.item {
	display: flex;
	width: 80%;
	margin: 0 auto;
	padding: 1rem;
	border-bottom: 1px solid rgb(151, 151, 151);
}

.item img.productImg {
	height: 7rem;
	border-radius: 0.5rem;
	box-shadow: 0 0 2px 0px black;
	cursor: pointer;
}

.item img.deleteImg{
	height: 2rem;
	width: 2rem;
	margin-left: 0.2rem;
	border-radius: 0.5rem;
	cursor: pointer;
}

.item img.deleteImg:hover{
	background-color: lightgray;
}

.data {
	width: 80%;
	margin-left: 1rem;
}

.data .title {
	font-size: 1.3rem;
	font-weight: bold;
	cursor: pointer;
}

.data .title .id {
	margin-left: 0.5rem;
	font-size: 1rem;
	font-weight: normal;
}

.priceAndQuantity {
	margin-top: 0.5rem;
}

.data .quantity {
	display: inline-block;
	width: 2rem;
	margin-left: 1rem;
	box-shadow: 0 0 2px 0px black;
	border-radius: 0.5rem;
	text-align: center;
}

.actions {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20%;
}

.actions button {
	width: 3rem;
	height: 2rem;
	background-color: #f3cd6f;
	border: none;
	border-radius: 0.5rem;
	margin-left: 0.2rem;
	line-height: 1rem;
	font-size: 1.5rem;
}

.actions button:hover {
	background-color: #f1c34f;
	cursor: pointer;
}
