@import '../../scss/breakpoints';

.notAdmin {
	text-align: center;
	font-size: 1.5rem;
	animation: appearSmoothly 0.5s ease-in-out forwards;
	@include mobile {
		font-size: 3rem;
	}
}
.list {
	display: flex;
	flex-direction: column;
	justify-items: center;
	width: 90%;
	max-width: 1000px;
	margin: 0 auto;
	padding: 1rem;
	border-radius: 1rem;
	box-shadow: 0 0 3px 0px black;
	background-color: white;
	animation: appearSmoothly 0.5s ease-in-out forwards;
	@include mobile {
		width: 100%;
	}
}
@keyframes appearSmoothly {
	0% {
		opacity: 0;
		transform: translateY(20%);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
