.modificationAdd {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 7rem;
	width: 80%;
	margin: 0 auto;
	padding: 1rem;
	border-bottom: 1px solid rgb(151, 151, 151);
}

button.addProduct {
	height: 3rem;
	width: 60%;
	border: none;
	border-radius: 2rem;
	background-color: #f3cd6f;
	line-height: 2rem;
	cursor: pointer;
	font-size: 1.5rem;
}

button.addProduct:hover {
	background-color: #f1c34f;
}

.form {
	width: 100%;
	font-size: 1.2rem;
}

.form .title {
	margin-bottom: 1rem;
	text-align: center;
	font-size: 1.5rem;
	font-weight: bold;
}

.form .field {
	display: flex;
	flex-direction: column;
}

.form .field label{
    margin-top: 0.5rem;
}

.field input {
	height: 2rem;
	width: 20rem;
	padding: 0 0.5rem;
	border: 1px gray solid;
	border-radius: 0.5rem;
	line-height: 2rem;
	font-size: 1rem;
}

.field .error {
	color: red;
	font-size: 1rem;
	font-weight: bold;
}

.form .actions {
	display: flex;
	justify-content: flex-end;
}

.actions button {
	height: 2rem;
	padding: 0.3rem 1rem;
	border: none;
	border-radius: 1rem;
	background-color: #f3cd6f;
	line-height: 0.8rem;
	font-size: 1rem;
	cursor: pointer;
}
.actions button.cancel {
	margin-left: 0.5rem;
}

.actions button:hover {
	background-color: #f1c34f;
}
