.item {
	display: flex;
	width: 80%;
	margin: 0 auto;
	padding: 1rem;
	border-bottom: 1px solid rgb(151, 151, 151);
}

.item img.productImg {
	height: 7rem;
	border-radius: 0.5rem;
	box-shadow: 0 0 2px 0px black;
	cursor: pointer;
}

.item img.favorite {
	height: 3rem;
	width: 3rem;
	cursor: pointer;
}

.data {
	width: 80%;
	margin-left: 1rem;
}

.data .title {
	font-size: 1.3rem;
	font-weight: bold;
	cursor: pointer;
}

.data .title .id {
	margin-left: 0.5rem;
	font-size: 1rem;
	font-weight: normal;
}

.price {
	margin-top: 0.5rem;
}

.actions {
	display: flex;
	align-items: center;
}
