.product {
	display: flex;
	flex-direction: column;
	height: 25rem;
	width: 18rem;
	margin: 2rem 1rem;
	border-radius: 0.2rem;
	background-color: white;
	box-shadow: 0 0 4px 4px lightgray;
}

.product img.productImg {
	height: 20rem;
	width: 15rem;
	margin: 0 auto ;
	cursor: pointer;
}

.product p.title {
	display: flex;
	justify-content: space-between;
	width: 15rem;
    margin: 0.5rem auto 0;
	line-height: 2rem;
    font-size: 1.6rem;
	font-weight: bold;
}

.product p.title img.favorite{
	height: 2rem;
	width: 2rem;
	cursor: pointer;
}

.product p.price {
	margin-left: 1.5rem;
    font-size: 1.2rem;
}
