@import '../../scss/breakpoints';

.footer {
	height: 3rem;
	width: 100%;
	min-width: 1000px;
	max-width: 2000px;
	margin: 0 auto;
	line-height: 3rem;
	text-align: center;
	color: white;
	font-size: 1.2rem;
	@include mobile {
		height: 4rem;
		line-height: 4rem;
		font-size: 2rem;
	}
}
