@import '../../scss/variables';
@import '../../scss/breakpoints';

.header {
	position: fixed;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
	display: flex;
	justify-content: space-between;
	height: 5rem;
	width: 100%;
	max-width: 2000px;
	min-width: 1000px;
	margin: auto;
	padding: 0 10rem;
	background-color: rgb(59, 59, 59);
	line-height: 5rem;
	align-items: center;
	z-index: 2;
	font-weight: bold;
	color: white;
	@include mobile {
		flex-direction: column;
		height: 14rem;
	}
	.title {
		display: inline-block;
		position: relative;
		font-size: 1.8rem;
		cursor: pointer;
		@include tablet {
			font-size: 2.4rem;
		}
		@include mobile {
			margin-top: 0.5rem;
			font-size: 5rem;
		}
		&:after {
			content: '';
			position: absolute;
			width: 100%;
			transform: scaleX(0);
			height: 3px;
			bottom: 0;
			left: 0;
			background-color: $button-color;
			transition: transform 0.25s ease-out;
		}
		&:hover:after {
			transform: scaleX(1);
		}
	}
	.actions {
		font-size: 1.2rem;
		@include tablet {
			font-size: 1.4rem;
		}
		@include mobile {
			padding-bottom: 2rem;
		}
		.ul {
			display: flex;
			list-style: none;
			li {
				display: inline-block;
				position: relative;
				width: 9rem;
				height: 3rem;
				border-right: 2px rgb(104, 104, 104) solid;
				line-height: 3rem;
				text-align: center;
				cursor: pointer;
				@include tablet {
					width: 10rem;
				}
				@include mobile {
					height: 5rem;
					width: 20rem;
					line-height: 4rem;
					font-size: 2.4rem;
				}
				&.animation:after {
					content: '';
					position: absolute;
					width: 100%;
					transform: scaleX(0);
					height: 4px;
					bottom: 0;
					left: 0;
					background-color: $button-color;
					transition: transform 0.25s ease-out;
				}
				&.animation:hover:after {
					transform: scaleX(1);
				}
				&.active {
					border-bottom: 4px solid $button-color;
				}
				&:last-child {
					border-right: none;
				}
				&:hover {
					color: white;
				}
				&.userPerspective {
					width: 15rem;
					@include mobile {
						width: 23rem;
					}
				}
				.counter {
					margin-left: 0.6rem;
					padding: 0.2rem 0.7rem;
					border-radius: 1rem;
					background-color: $button-color;
					color: black;
					@include tablet {
						border-radius: 1.5rem;
					}
					@include mobile {
						padding: 0.3rem 1.5rem;
						border-radius: 1.8rem;
					}
				}
				.bump {
					animation: bump 0.3s ease-out;
				}
			}
		}
	}
}

@keyframes bump {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
